Source: minieigen
Priority: optional
Maintainer: Václav Šmilauer <eu@doxos.eu>
Build-Depends: debhelper (>= 8.0.0), libboost-python-dev, libeigen3-dev, python-sphinx
Standards-Version: 3.9.2
Section: libs
Homepage: http://www.launchpad.net/minieigen
Vcs-Bzr: lp:minieigen

Package: python-minieigen
Section: python
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Description: Small boost::python wrapper of parts of the Eigen library.
 Small wrapper for core parts of Eigen, c++ library for linear algebra.
 It is mainly useful for inspecting c++ code which already uses eigen and
 boost::python. Supported types are Vectors (2,3,6 and dynamic-sized with
 integer and floating-point values), Matrices (3x3, 6x6 and dynamic-sized
 with floating-point values) and Quaternions. Numerous methods are wrapped
 and the original API of Eigen is followed.
